<p>This is the partial for view 1.</p>
<p>{{time}}</p>
<p>{{$storage.x}}</p>

<div>
    <form novalidate class="simple-form">
        Name: <input type="text" ng-model="person.name" />
    </form>
    <form novalidate class="simple-form">
        Address: <input type="text" ng-model="person.address" />
    </form>
    <form novalidate class="simple-form">
        Phone Number: <input type="text" ng-model="person.phone" />
    </form>
    <!--button ng-click="callNotify(person.name);">Add</button-->
    <button ng-click="save(person.name,person.address,person.phone)">Add</button>

    <button ng-click="list()">List</button>

    <button>See Details</button>
    <br>
    <div ng-repeat="names in data">
        <p>Name: {{names.name}}</p>
        <button>Delete</button>
        <button>Edit</button>

    </div>

</div>